.logo {
    height: 60px;
    width: 50px;
}

.logos {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: coral;
    width: 100%;
    gap: 20px;
}